.authentication-form {
  width: 500px;
  margin: 0 auto;
}

.authentication-form-title {
  margin-bottom: 48px;
}

.alternative-option {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 8px;
}
