.checkout-form {
  width: 40%;
  padding-left: 24px;
}

.checkout-form-title {
  font-size: 20px;
  background-color: var(--cf-white);
  padding: 8px 16px 8px 0;
  font-weight: bolder;
}

.cart-item {
  display: flex;
  flex-direction: column;
}
