.backlink {
  display: inline-flex;
  align-items: center;
  color: gray;
  margin-bottom: 12px;
  gap: 0px;
  padding: 12px 24px 12px 0;
  transition: gap 0.5s ease-in-out;
}

.backlink:hover {
  gap: 12px;
}

.product-window-content {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.product-image-container {
  width: 50%;
  height: 500px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.product-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 500px;
}

.product-name {
  margin-bottom: 8px;
}

.product-category {
  color: var(--cf-gray);
}

.product-sex {
  color: var(--cf-gray);
  margin-bottom: 4px;
}

.product-price {
  flex-grow: 1;
}

// .product-spec-option-container {
//   display: flex;
//   flex-direction: column;
//   gap: 8px;
//   margin: 12px 0 12px;
// }

// .product-spec-row {
//   display: flex;
//   justify-content: space-between;
// }

// .product-spec-option {
//   width: 24%;
//   padding: 8px 4px;
//   background-color: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: var(--cf-border-radius-sm);
//   height: 40px;
// }

.product-spec-option-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.3%;
  row-gap: 8px;
  margin: 12px 0;
}

.product-spec-option {
  flex: 0 0 auto; /* 控制每个选项的宽度，自动换行 */
  width: 24%;
  padding: 8px 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--cf-border-radius-sm);
  height: 40px;
}

.product-spec-option-active {
  border: 1.5px solid var(--cf-gray);
}

.product-action {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.close {
  color: var(--cf-gray);
}

input[type="radio"] {
  display: none;
}

.message {
  margin-bottom: 10px;
  /* 其他样式... */
}
