:root {
  //font
  --font-english: "Inter", sans-serif;

  // color
  --cf-white: #fff;
  --cf-black: #111111;
  --cf-gray: #707072;
  --cf-gray-500: #cacacb;
  --cf-gray-200: #f6f6f6;

  // utility
  --cf-border-radius-l: 48px;
  --cf-border-radius-m: 16px;
  --cf-border-radius-sm: 8px;
}

/* 将用户代理样式重置为默认 */
ul {
  list-style-type: none;
}
