.checkout-form {
  width: 50%;
  padding-left: 24px;
}

.checkout-form-title {
  font-size: 20px;
  background-color: var(--cf-white);
  padding: 8px 16px;
  font-weight: bolder;
}

.checkout-form-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
  margin-left: 16px;
}

.submit-checkout {
  margin-top: 16px;
}
